# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist/Build directory
dist/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/*.log

# OS/IDE-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Debugging files
*.log
*.tgz
*.gzip

# Others
coverage/
.cache/
*.tmp
*.bak

# Test and coverage results
jest/
jest.config.js
coverage/
